@use './breakpoints.scss' as bp;
@use './mixins.scss' as mx;


:root {
  --background: #ffffff;
  --foreground: #171717;
  --container-max-width: 1600px;
  --container-padding: 33px;
  --black: #434343;
  --gray: #999999;
  --green: #65BB7F;
  --basket-button-color: #3988AC;
  --dark-blue: #2C5167;
  --light-gray: #B0B0B0;
  --light-gray-input: #cecece;
  --light-gray-menu: rgba(241, 241, 241, 1);
  --light-gray-cart: #F6F6F6;
  --filter-menu-gray: #F7F7F7;
  --background-input: #fafafa;
  --light-gray-count: #ebebeb;
  --white: #FFFFFF;
  --red: #EE0F0F;
  --border-color: rgba(205, 205, 205, 1);
  --one-click-border-color: rgba(67, 67, 67, 1);
  --news-item-border: rgba(205, 205, 205, 1);
  --sticker-hit-background-color: #65BB7F;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--black);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 110%;
}

body {
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    // color-scheme: dark;
  }
}

.app {
  &_wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  &_content {
    flex-grow: 1;
  }
}

.container {
  width: 100%;
  max-width: calc(var(--container-max-width) + var(--container-padding)*2);
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

@include mx.respond-to('large') {
  :root {
    --container-padding: 20px;
  }
}

.icon-menu {
  width: 24px;
  height: 24px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.icon-cross {
  width: 17px;
  height: 17px;
  display: none;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.icon-link {
  width: 32px;
  height: 32px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.icon-action {
  width: 30px;
  height: 30px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.button {
  cursor: pointer;
  color: var(--black);
  background-color: var(--white);
  font-size: 16px;
}

.mobile-show {

  @include mx.respond-from('ipad') {
    display: none;
  }
}

.desktop-show {
  @include mx.respond-to('ipad') {
    display: none;
  }
}

.link__show-all {
  margin-top: 20px;
  margin-bottom: 10px;
}

.show-all::after {
  content: url("/images/arrow-line.svg");
  max-width: 100px;
  margin-left: 15px;
}

.cart-added {
  background-color: var(--green);
}