@use './breakpoints.scss';

@mixin retina {

    @media (min--moz-device-pixel-ratio: 1.3),
    (-o-min-device-pixel-ratio: 2.6/2),
    (-webkit-min-device-pixel-ratio: 1.3),
    (min-device-pixel-ratio: 1.3),
    (min-resolution: 1.3dppx) {
        @content;
    }
}


@mixin respond-from($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }

    @else {
        @warn 'Unfortunately, no value could be retrieved from `#{$breakpoint}`. ';
    }
}


@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (max-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }

    @else {
        @warn 'Unfortunately, no value could be retrieved from `#{$breakpoint}`. ';
    }
}

@mixin respond-range($min, $max) {
    @media (min-width: $min) and (max-width: $max) {
        @content;
    }
}

@mixin respond-between($min-breakpoint, $max-breakpoint) {
    @if map-has-key($breakpoints, $min-breakpoint) and map-has-key($breakpoints, $max-breakpoint) {
        $min-width: map-get($breakpoints, $min-breakpoint);
        $max-width: map-get($breakpoints, $max-breakpoint);

        @media (min-width: $min-width) and (max-width: $max-width) {
            @content;
        }
    }

    @else {
        @warn 'Один из breakpoints не найден: #{$min-breakpoint} или #{$max-breakpoint}';
    }
}