@import 'breakpoints.scss';
@import 'mixins.scss';

a {
    color: inherit;
    text-decoration: none;
}

h2 {
    font-size: 48px;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 0%;
    margin-bottom: 50px;

    @include respond-to('ipad') {
        font-size: 24px;
        margin-bottom: 22px;
        line-height: 28px;
    }
}