@import '../styles/breakpoints.scss';
@import '../styles/mixins.scss';

.checkout {
    width: 100%;
    max-height: 100%;

    &__header {
        padding-bottom: 40px;
        font-size: 48px;
        font-weight: 400;
        line-height: 60px;

        @include respond-to('ipad') {
            font-size: 24px;
            line-height: 28px;
            padding-bottom: 20px;
        }
    }

    &__container {
        padding-top: 50px;
        padding-bottom: 50px;

        @include respond-to('ipad') {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }

    &__form {
        appearance: none;
        padding: 20px 0px;
        display: flex;
        flex-direction: column;
        max-width: 1010px;

        p {
            padding-bottom: 14px;

            @include respond-to('large') {
                padding-bottom: 12px;
            }
        }

    }

    &__name-phone {
        display: flex;
        flex-direction: row;
        gap: 40px;

        @include respond-to('ipad') {
            flex-direction: column;
            gap: 0px;
        }
    }

    &__wrapper {
        width: 100%;
        max-width: 485;
    }

    &__house-ind {
        display: flex;
        flex-direction: row;
        gap: 40px;

        @include respond-to('ipad') {
            gap: 20px;
        }
    }

    &__adress {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        gap: 40px;

        @include respond-to('ipad') {
            flex-direction: column;
            gap: 0px;
        }

        &__wrapper {
            flex-shrink: 2;
        }

    }

    &__price {
        padding-bottom: 40px;
        font-size: 24px;
        font-weight: 700;

        @include respond-to('ipad') {
            font-size: 18px;
            padding-bottom: 20px;
        }
    }


    &__form-input {
        appearance: none;
        width: 100%;
        margin-bottom: 40px;
        border: 1px solid var(--light-gray-input);
        background-color: var(--background-input);
        border-radius: 4px;
        height: 57px;
        color: var(--black);
        padding: 10px;
        font-size: 20px;

        @include respond-to('large') {
            margin-bottom: 20px;
            height: 48px;
        }
    }

    &__checkbox-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 40px;
        gap: 20px;

        @include respond-to('large') {
            margin-bottom: 20px;
            gap: 20px;
        }
    }

    &__form-checkbox {
        appearance: none;
        width: 16px;
        height: 16px;
        border: 1px solid var(--gray);
        border-radius: 2px;
        background-color: var(--background-input);

        @include respond-to('ipad') {
            width: 23px;
            height: 15px;
        }
    }

    &__form-checkbox:checked {
        appearance: none;
        // border-color: #0d6efd;
        background-image: url("/images/checkbox.svg");
        background-position: center;
        background-repeat: no-repeat;
    }

    &__form-button-submit {
        height: 57px;
        padding: 15px 0px;
        background-color: var(--basket-button-color);
        border: none;
        border-radius: 4px;
        font-size: 16px;
        color: white;
        max-width: 485px;

        @include respond-to('large') {
            height: 48px;
        }
    }

    .new-items__container {
        padding-left: 0px;
        padding-right: 0px;
    }
}