@import '../styles/breakpoints.scss';
@import '../styles/mixins.scss';

.products {
    flex-grow: 3;

    &__container {}

    &__header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        span {
            font-size: 16px;
        }

        span::after {
            content: url("/images/arrow-line.svg");
            max-width: 100px;
            margin-left: 15px;
        }
    }

    &__items-grid {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 32px;

        @include respond-to('large') {
            grid-template-columns: auto auto;
            gap: 15px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        border: 1px solid var(--border-color);
        border-radius: 8px;
        padding: 25px;
        position: relative;

        @include respond-to('phone') {
            padding: 9px;
            gap: 12px;
        }


        a img {
            width: 100%;
            height: 100%;
            max-height: 280px;

            @include respond-to('ipad') {
                max-height: 166px;
            }
        }

    }

    &__name {
        font-size: 16px;
        line-height: 125%;

        @include respond-to('ipad') {
            font-size: 14px;
        }
    }

    &__price-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__price {
        font-size: 24px;
        font-weight: 700;

        @include respond-to('ipad') {
            font-size: 16px;
        }
    }

    &__cart-button {
        appearance: none;
        min-width: 59px;
        min-height: 47px;
        background-color: var(--basket-button-color);
        background-image: url("/images/basket.png");
        background-size: 20px 20px;
        object-fit: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border-radius: 4px;
        border: none;

        @include respond-to('ipad') {
            min-width: 39px;
            min-height: 33px;

            background-size: 15px 15px;
        }

    }

    &__add-cart {
        width: 100%;
        height: 100%;


    }

    &__one-click {
        width: 100%;
        appearance: none;
        padding-top: 10px;
        padding-bottom: 10px;
        box-sizing: border-box;
        border: 1px solid var(--border-color);
        border-radius: 4px;
        text-align: center;

        @include respond-to('ipad') {
            font-size: 14px;
        }
    }

    &__sticker {
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 10px;
        background-color: var(--sticker-hit-background-color);
        color: var(--white);
    }
}