@import '../styles/breakpoints.scss';
@import '../styles/mixins.scss';

.contacts {
    &__container {
        padding-top: 10px;
        width: 100%;
    }

    &__header {
        padding-bottom: 40px;
        font-size: 48px;
        font-weight: 400;
        line-height: 60px;

        @include respond-to('ipad') {
            font-size: 24px;
            line-height: 28px;
        }
    }

    &__banner {
        width: 100%;
        height: 100%;
        object-fit: cover;

        img {
            max-width: 100%;
            max-height: 100%;
            border-radius: 8px;

            @include respond-to('medium') {
                border-radius: 0px;
                height: 200px;
                object-fit: cover;
                object-position: center bottom;
            }

        }
    }

    &__textarea {
        padding-top: 40px;
        padding-bottom: 40px;
        column-width: 48%;
        column-count: 2;
        column-gap: 4%;

        @include respond-to('ipad') {
            column-count: 1;
        }

        p {
            padding-bottom: 10px
        }
    }

    &__map {
        border-radius: 8px;

        iframe {
            // pointer-events: none;
        }
    }
}