@use '../app/styles/mixins.scss' as mx;

.actions {
    &__container {
        padding-top: 100px;

        @include mx.respond-to('ipad') {
            padding-top: 50px;
        }
    }

    &__header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        span {
            font-size: 16px;
        }

        span::after {
            content: url("/images/arrow-line.svg");
            max-width: 100px;
            margin-left: 15px;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        gap: 32px;


        @include mx.respond-to('small') {
            flex-direction: column;
            gap: 20px;
        }
    }

    &__item {
        position: relative;
        border-radius: 8px;

        img {
            width: 100%;
            height: 100%;
            // max-height: 300px;
            object-position: top center;

            @include mx.respond-to('ipad') {
                // max-height: 160px;
            }
        }
    }

    &__text {
        position: absolute;
        max-width: 60%;
        top: 40px;
        left: 40px;
        color: var(--white);
        font-weight: 400;
        font-size: 22px;
        line-height: 130%;

        @include mx.respond-between('small', 'medium') {
            top: 25px;
            left: 25px;
            font-size: 16px;

        }

        b {
            font-weight: 700;
        }
    }
}