@use '../app/styles/mixins.scss' as mx;

.advantages {

    width: 100%;
    max-height: 100%;

    // max-height: 450px;
    background-image: url("/images/advantages_back.jpg");
    object-fit: contain;
    background-position: 50% 75%;

    @include mx.respond-to('ipad') {
        background-position: 20% 50%;
    }

    h2 {
        color: var(--white);
    }

    &__container {
        padding-top: 100px;
        padding-bottom: 100px;

        @include mx.respond-to('ipad') {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        gap: 100px;

        @include mx.respond-to('large') {
            flex-direction: column;
            gap: 32px;
        }
    }

    &__element {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

    &__number {
        height: 100%;
        line-height: 80%;
        color: var(--white);
        font-size: 48px;
        opacity: .3;

        @include mx.respond-to('ipad') {
            font-size: 24px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 35px;
        max-width: 60%;

        @include mx.respond-to('ipad') {
            gap: 10px;
            max-width: 100%;
        }
    }

    &__header {
        color: var(--white);
        font-size: 24px;
        line-height: 120%;

        @include mx.respond-to('ipad') {
            font-size: 18px;
        }
    }

    &__text {
        color: var(--white);
        font-size: 14px;
    }
}