@import '../app/styles/breakpoints.scss';
@import '../app/styles/mixins.scss';

.categories {

    &__container {
        padding-top: 100px;

        @include respond-to('ipad') {
            padding-top: 50px;
        }
    }

    &__items-grid {
        display: grid;
        grid-template-columns: auto auto auto auto;



        @include respond-to('large') {
            grid-template-columns: auto auto auto;
        }

        @include respond-to('medium') {
            grid-template-columns: auto auto;
        }
    }

    &__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;

        @include respond-to('ipad') {
            flex-direction: column;
            gap: 20px;
        }

        a img {
            width: 100%;
            height: 100%;
            max-height: 170px;
        }

        &__name {
            font-size: 24px;

            @include respond-to('ipad') {
                font-size: 14px;
            }
        }
    }

}