@use '../app/styles/mixins.scss' as mx;

.new-items {

    &__container {
        padding-top: 100px;
        padding-bottom: 100px;

        @include mx.respond-to('ipad') {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }

    &__header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        span {
            font-size: 16px;
        }

        span::after {
            content: url("/images/arrow-line.svg");
            max-width: 100px;
            margin-left: 15px;
        }
    }

    &__items-grid {
        display: flex;

        // grid-template-columns: auto auto auto auto;
        gap: 32px;

        @include mx.respond-to('ipad') {
            grid-template-columns: auto auto;
            gap: 15px;
        }

        @include mx.respond-to('phone') {
            display: flex;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        border: 1px solid var(--border-color);
        border-radius: 8px;
        padding: 25px;
        position: relative;

        @include mx.respond-to('phone') {
            padding: 9px;
            gap: 12px;
        }


        a img {
            width: 100%;
            height: 100%;
            min-height: 280px;
            max-height: 280px;
            object-fit: contain;

            @include mx.respond-to('ipad') {
                min-height: 166px;
                max-height: 166px;
            }
        }

    }

    &__name {
        font-size: 16px;
        line-height: 125%;
        min-height: 55px;

        @include mx.respond-to('ipad') {
            font-size: 14px;
            min-height: 70px;
        }
    }

    &__price-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__price {
        font-size: 24px;
        font-weight: 700;

        @include mx.respond-to('ipad') {
            font-size: 16px;
        }
    }

    &__cart-button {
        appearance: none;
        min-width: 59px;
        min-height: 47px;
        background-color: var(--basket-button-color);
        background-image: url("/images/basket.png");
        background-size: 20px 20px;
        object-fit: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border-radius: 4px;
        border: none;

        @include mx.respond-to('ipad') {
            min-width: 39px;
            min-height: 33px;

            background-size: 15px 15px;
        }


    }

    &__add-cart {
        width: 100%;
        height: 100%;


    }

    &__one-click {
        appearance: none;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        box-sizing: border-box;
        border: 1px solid var(--border-color);
        background-color: var(--white);
        border-radius: 4px;
        text-align: center;

        @include mx.respond-to('ipad') {
            font-size: 14px;
        }
    }

    &__sticker {
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 10px;
        background-color: var(--sticker-hit-background-color);
        color: var(--white);
    }

    .swiper-button-prev,
    .swiper-button-next {

        .swiper-navigation-icon {
            display: none;
        }
    }

    .swiper-button-prev {
        margin-left: 15px;

        @include mx.respond-to('ipad') {
            display: none;
        }
    }

    .swiper-button-next {
        margin-right: 15px;

        @include mx.respond-to('ipad') {
            display: none;
        }
    }

    .swiper-button-prev::after {
        content: url("/images/chevron-left-black.svg");

    }

    .swiper-button-next::after {
        content: url("/images/chevron-right-black.svg");

    }

    .swiper-pagination-horizontal {
        display: none;
        margin-bottom: 20px;

        @include mx.respond-to('ipad') {
            display: none;
        }
    }

    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        border-radius: 4px;
        background: rgba(255, 255, 255, 0.3);

        @include mx.respond-to('ipad') {
            background: #3988AC;
            opacity: 0.3;
        }
    }

    .swiper-pagination-bullet-active {
        background-color: var(--white);
    }

    .swiper-new-products {
        max-height: 100%;
    }
}

.cart-added {
    background: var(--green);
}