@import '../app/styles/breakpoints.scss';
@import '../app/styles/mixins.scss';

.news {

    &__container {
        padding-top: 100px;
        padding-bottom: 100px;

        @include respond-to('ipad') {
            padding-top: 50px;
            padding-bottom: 80px;
        }
    }

    &__header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        span {
            font-size: 16px;
        }

        span::after {
            content: url("/images/arrow-line.svg");
            max-width: 100px;
            margin-left: 15px;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        gap: 32px;

        @include respond-to('ipad') {
            flex-direction: column;
            gap: 14px;
        }
    }


    &__big-item {
        position: relative;
        border-radius: 8px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__big-item-text {
        position: absolute;
        max-width: 50%;
        top: 50px;
        left: 75px;
        color: var(--white);
        font-weight: 400;
        font-size: 22px;
        line-height: 130%;
        display: flex;
        flex-direction: column;
        gap: 30px;

        @include respond-to('ipad') {
            max-width: 60%;
            top: 25px;
            left: 40px;
        }

        b {
            font-weight: 700;
        }
    }

    &__big-item-header {
        font-size: 36px;
        line-height: 130%;

        @include respond-to('ipad') {
            font-size: 20px;
            line-height: 120%;
        }
    }

    &__big-item-date {
        font-size: 16px;

        @include respond-to('ipad') {
            font-size: 14px;
        }
    }

    &__item {
        display: grid;
        grid-template-columns: auto auto;
        gap: 32px;
        max-width: 100%;

        @include respond-to('ipad') {
            gap: 14px;
            grid-template-columns: auto auto;
        }

        @include respond-to('phone') {
            gap: 14px;
            grid-template-columns: auto;
        }

    }

    &__card {
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        gap: 0px;
        max-width: 100%;


        background-clip: padding-box;
    }

    &__card-image {
        width: 100%;
        max-width: 100%;
        max-height: 150px;
        height: auto;

        @include respond-range(950px, 1050px) {
            max-height: none;
        }

        @include respond-range(450px, 600px) {
            max-height: none;
        }

        a {
            display: flex;
        }
    }

    &__card-image-img {
        width: 100%;
        object-fit: contain;
        z-index: 100;
    }

    &__card-text {
        display: flex;
        flex-direction: column;
        justify-content: left;
        gap: 20px;
        padding: 30px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border: 1px solid var(--news-item-border);

        @include respond-to('ipad') {
            padding: 20px;
        }
    }

    &__card-header {
        font-size: 16px;

        @include respond-to('ipad') {
            font-size: 14px;
        }
    }

    &__card-date {
        font-size: 16px;

        @include respond-to('ipad') {
            font-size: 12px;
        }
    }
}