@use '../app/styles/mixins.scss' as mx;

.swiper {
    width: 100%;
    height: 100%;
    max-height: 600px;

    @include mx.respond-to('ipad') {
        max-height: 280px;
    }

    @include mx.respond-to('small') {
        max-height: 195px;
    }

    &__slide {
        background-image: url("/slider/slide_1.jpg");
        background-size: cover;
        background-position: center center;
        width: 100px;
        height: 100px;

        @include mx.respond-to('large') {
            border-radius: 8px;
        }

        @include mx.respond-to('ipad') {
            max-height: 280px;
        }

        @include mx.respond-to('small') {
            max-height: 195px;
        }

    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-top: 132px;
        padding-bottom: 132px;

        @include mx.respond-to('large') {
            padding-top: 50px;
            padding-bottom: 50px;
            gap: 20px;
        }

        @include mx.respond-to('medium') {
            padding-top: 30px;
            padding-bottom: 30px;
            gap: 15px;
        }

        @include mx.respond-to('phone') {
            padding-top: 20px;
            padding-bottom: 20px;
            gap: 10px;
        }


    }

    &__header {
        color: var(--white);
        font-size: 16px;
        line-height: 140%;

        @include mx.respond-to('large') {
            font-size: 12px;
        }

        @include mx.respond-to('ipad') {
            font-size: 10px;
        }
    }

    &__promo-after {
        color: var(--white);
        font-size: 16px;
        line-height: 140%;

        @include mx.respond-to('large') {
            font-size: 12px;
        }

        @include mx.respond-to('ipad') {
            font-size: 10px;
        }

    }

    &__promo-text {
        color: var(--white);
        font-size: 64px;
        line-height: 110%;

        @include mx.respond-to('large') {
            font-size: 50px;
        }

        @include mx.respond-to('ipad') {
            font-size: 20px;
        }

    }

    .swiper-button-prev,
    .swiper-button-next {

        .swiper-navigation-icon {
            display: none;
        }
    }

    .swiper-button-prev {
        margin-left: 5px;

        @include mx.respond-to('ipad') {
            display: none;
        }
    }

    .swiper-button-next {
        margin-right: 5px;

        @include mx.respond-to('ipad') {
            display: none;
        }
    }

    .swiper-button-prev::after {
        content: url("/images/chevron-left.svg");

    }

    .swiper-button-next::after {
        content: url("/images/chevron-right.svg");

    }

    .swiper-pagination-horizontal {
        margin-bottom: 20px;

        @include mx.respond-to('ipad') {
            display: none;
        }
    }

    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        border-radius: 4px;
        background: rgba(255, 255, 255, 0.3);

        @include mx.respond-to('ipad') {
            background: #3988AC;
            opacity: 0.3;
        }
    }

    .swiper-pagination-bullet-active {
        background-color: var(--white);
    }
}