@import '../../styles/breakpoints.scss';
@import '../../styles/mixins.scss';


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;

    @include respond-from('ipad') {
        display: none;
    }
}

.filter-mobile {
    width: 100%;
    height: 100%;
    max-width: 96%;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1000;
    top: 70px;
    padding: 20px;
    background-color: var(--white);
    border-radius: 8px;

    margin-left: 2%;
    margin-right: 2%;

    display: none;

    @include respond-from('ipad') {
        display: none;
    }

    &__item {
        padding: 20px;
        background: var(--filter-menu-gray);
        border-radius: 10px;

        &-header {
            width: 100%;
            font-size: 24px;
            line-height: 33px;
            margin-bottom: 18px;
            font-weight: 400;
            padding: 10px;
        }
    }

    &__categories {
        position: relative;
        display: block;
        margin: 0 auto 10px;
        border-radius: 8px;
        transition: 0.4s;
        overflow: hidden;

        &:after {
            position: absolute;
            right: 24px;
            top: 18px;
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            border-right: 1px solid var(--black);
            border-bottom: 1px solid var(--black);
            transform: rotate(45deg);
            transform-origin: center;
            transition: .3s;
        }

        &[open]:after {
            transform: rotate(225deg);
            top: 24px;
        }

        &[open] {
            padding-bottom: 60px;
        }

        &[open] &-title {
            margin-bottom: 5px;
            background: #EBEBEB;
        }

        &-title {
            border-radius: 5px;
            padding: 10px 54px;
            font-size: 24px;
            line-height: 30px;
            cursor: pointer;
            list-style: none;
            font-weight: 400;
            transition: .3s;

            &:-webkit-categories-marker {
                display: none;
            }

            @include respond-to('ipad') {
                font-size: 18px;
            }
        }

        &-content {
            padding: 15px 32px;
            padding-top: 20px;
            font-size: 16px;
            line-height: 125%;
            margin-bottom: -60px;
            display: flex;
            flex-direction: column;
            gap: 24px;

            p:last-child {
                margin-bottom: 0;
            }

            p:first-child {
                margin-top: 0;
            }

            @include respond-to('ipad') {
                font-size: 12px;
            }

            &-item {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 12px;
                font-size: 16px;

                .characteristics-checkbox {
                    appearance: none;
                    width: 16px;
                    height: 16px;
                    border: 1px solid var(--gray);
                    border-radius: 2px;
                    background-color: var(--background-input);

                    @include respond-to('ipad') {
                        width: 23px;
                        height: 15px;
                    }
                }

                .characteristics-checkbox:checked {
                    appearance: none;
                    background-image: url("/images/checkbox.svg");
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
        }


    }

    &__filter-apply {
        webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        color: var(--white);
        background-color: var(--black);
        border: none;
        border-radius: 4px;
        padding: 15px 15px;
        flex-wrap: wrap;
        font-size: 14px;
    }

}